.realisation{
  header{
    background-image: url("../images/bg-realisation2.jpg");
  }
  .content-page{
    .slideshow{
      .slide{
        visibility: hidden;
        opacity: 0;
      }
      .slide-1{

      }
      .slide-2{

      }
      .slide-3{

      }
      .slide-4{

      }
    }
  }
}
